<footer class="footer fixed-bottom" *ngIf="router.url !== '/'">
  <div class="container text-center">
    <a href="https://www.facebook.com/gabor.thury"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/thurydzsiii/"><i class="fa fa-instagram"></i></a>
    <a href="https://500px.com/disz2172"><i class="fa fa-500px"></i></a>
    <a href="https://www.flickr.com/photos/1c3t34"><i class="fa fa-flickr"></i></a>
    <a href="https://www.youtube.com/channel/UCR86fSFu8BoKue4dLfLwNFg/featured"><i class="fa fa-youtube"></i></a>
  </div>
</footer>