<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center profilePicDiv">
    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/20953589_1417460484973729_253552896739837322_n.jpg?_nc_cat=0&oh=2cce3527ada2116e936464e7c39b88ed&oe=5C27FB00" class="profilePic img-fluid" >
  </div>

  <div class="textDiv d-flex flex-column align-items-center">
    <h1 class="text-center h1">About me</h1>
    <p class="text-justify">
      My name is Gábor Thury and I'm a hobby photographer. On this website you can find some pictures I've taken during my travel.
      I live in Szeged, Hungary, where I study programming at Flow Academy. I have started takint pictures when I was 12 years old. I bought my first DSLR when I was 17 years old.
      In my free time I like travel as much as I can. My favourite places are the mountains, especially Trannsylvania, Montenegro and Austria.
    </p>
  </div>
</div>